.game-controls-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 32px;

  button {
    padding: 8px 16px;
    border: none;
    background-color: var(--color-background-secondary);
    color: var(--color-text-primary);
    cursor: pointer;
    border-radius: 4px;

    &:disabled {
      opacity: 0.5;
    }
  }
}

.material-icons {
  margin: 0 !important;
}

.button {
  color: var(--color-text-primary);

  &:hover {
    background-color: var(--color-background-secondary);
  }

  --mdc-icon-button-state-layer-size: 48px;
  --mdc-icon-button-icon-size: 26px;
}
